@media screen and (max-width:400px){
   
  .tittle-container p{
    display: none;
  }
   .menus-container a,span{
    display: none;
   }
  .mobile-nav-container{
    border: 1px solid salmon;
    width: 100%;
    display: flex;
   }
    
}