@media screen and (max-width:400px){
.nav-container{
  display: flex;
  width: 90%;
  margin: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}
.tittle-container p{
  text-align: center;
  font-size: 1rem;
  
}
.menus-container{
  display: none;
}
.hide{
  display: inline;
}
.baneer-section{
  flex-direction: column-reverse;
  width: 100%;
}
.banner-img{
  background-size: cover;
  width: 100%;
  margin-bottom: 1rem;
}
.banner-img img{
  margin-left: 1.8rem;
}
.baneer-text h2{
width: 25.25rem;
height: 4.875rem;
color: #3A3A3A;
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
margin-top: 1rem;
margin-left: -7rem;
}
.baneer-text p{
    border: 1px solid red;
  width: 20.0625rem;
height: 4.0625rem;
color: #3A3A3A;
text-align: center;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;


}

@media screen and (min-width:400px) and (max-width:800) {
  .nav-container{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
   
  }
  .tittle-container {
    font-size: 1rem;
  }
  .menus-container a {
    flex-direction: column;
  }
  .hide{
    display: inline;
  }
}